<div class="panel panel-default <%= workout.get("user_id") !== GPXtra.user.id ? 'panel-warning' : ''%>">
  <div class="row panel-heading">
    <div class="col-xs-12">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="workout-feed" href="#collapse-<%= workout.id %>">
          <%= workout.escape("datetime") %>
        </a>
      </h4>
    </div> <!-- end of col -->
  </div> <!-- end of row -->
  <div class="row panel-body">
    <div class="col-xs-2">
      <%= workout.escape("workout_type") %>
    </div>
    <div class="col-xs-5">
      <%= workout.escape("username") %>
    </div>
    <div class="col-xs-5">
      <%= workout.escape("title") %>
    </div>
  </div>
<% if (workout.escape("description").length !== 0) { %>
  <div class="row panel-body">
    <div class="col-xs-12">
      <%= workout.escape("description") %>
    </div>
  </div>
<% } %>
<!-- end of index view divs -->
  <div class="panel-collapse collapse" id="collapse-<%= workout.id %>"> <!-- expandable body, for workout view -->
  </div> <!-- end of workout view panel body -->
</div> <!-- collapsible section -->