<div class="row">
  <div class="col-xs-6">
    <%= workout.escape("datetime") %>
    <div class="row">
      <div class="col-xs-2">
        <%= workout.escape("workout_type") %>
      </div>
      <div class="col-xs-5">
        <%= workout.escape("username") %>
      </div>
      <div class="col-xs-5">
        <%= workout.escape("title") %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= workout.escape("description") %>
      </div
    </div>
  </div>
  <div class="col-xs-6 thumbnail-map"></div>
</div>