<div class="panel panel-default <%= workout.is_own() ? 'own-workout' : 'panel-warning followed-workout' %>">
  <div class="row panel-heading">
    <div class="col-xs-12 media">
      <a class="pull-left" href="#">
        <img class="media-object" height="48" width="48" src="assets/<%= workout.get('workout_type') %>.svg" alt="Workout type icon">
      </a>
      <div class="media body">
        <h3 class="panel-title">
          <a data-toggle="collapse" data-parent="workout-feed" href="#collapse-<%= workout.id %>">
            <%= workout.escape("datetime") %> : 
            "<%= workout.escape("title") %>"
          </a>
        </h3>
      </div>
    </div> <!-- end of col -->
  </div> <!-- end of row -->
  <div class="row panel-body">
    <div class="col-xs-4 media">
      <img class="media-object pull-left" width="96" height="96" src="<%= workout.get("gravatar_url") %>" alt="User image">
      <div class="media-body">
        <div class="media-heading">
          <h4>
            <%= workout.is_own() ? "Me" : workout.escape("username") %>
          </h4>
        </div>
        <% if (!workout.is_own()) { %>
          <button type="button" class="btn btn-warning unfollow btn-sm" data-id="<%= workout.get('user_id') %>">
            Unfollow <%= workout.escape("username").split(" ", 1)[0] %>
          </button>
        <% } %>
      </div>
    </div>
    <div class="col-xs-8"> <!-- nesting rows/columns to right of pic -->
      <div class="row panel-body">
        <div class="col-xs-6">
          Distance: <%= workout.get("distance") %> miles
        </div>
        <div class="col-xs-6">
          Moving time: <%= workout.timeString() %>
        </div>
      </div>
      <div class="row panel-body">
        <div class="col-xs-6">
          Elevation: <%= workout.get("elevation") %> feet
        </div>
        <div class="col-xs-6">
          Speed: <%= workout.speed_mph() %> mph
        </div>
      </div> <!-- end of row -->
      <% if (workout.get("max_hr") > 0){ %>
        <div class="row panel-body">
          <div class="col-xs-6">
            <span class="glyphicon glyphicon-heart" color="red"></span> Max HR: <%= workout.get("max_hr") %> bpm
          </div>
          <div class="col-xs-6">
            <span class="glyphicon glyphicon-heart" color="red"></span> Average HR: <%= workout.get("hrAvg") %> bpm
          </div>
        </div> <!-- end of row -->
      <% } %>
    </div> <!-- end of nested columns -->
  </div>
<% if (workout.escape("description").length !== 0) { %>
  <div class="row panel-body">
    <div class="col-xs-12">
      Notes: <%= workout.escape("description") %>
    </div>
  </div>
<% } %>
<!-- end of index view divs -->
  <div class="panel-collapse collapse" id="collapse-<%= workout.id %>"> <!-- expandable body, for workout view -->
  </div> <!-- end of workout view panel body -->
</div> <!-- collapsible section -->